.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 242, 242);
  height: 100vh;
}

header {
  background-color: rgb(18, 160, 153);
}

header h1 {
  padding: 5vh 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font: 800 3rem "Prompt", Arial, sans-serif;
}

#svg-section {
  margin-top: 3.2rem;
}

svg {
  display: block;
  margin: auto;
  border: 2px solid black;
  box-shadow: 2px 2px rgb(172, 172, 172);
}

#search-city {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 1rem;
  margin: 1.5rem 0.3rem;
  padding-left: 12px;
  height: 1.8rem;
  width: 25vw;
  border: 1px solid lightseagreen;
  border-radius: 0.4rem;
  transition: all 0.1s linear;
  outline: none;
}

input:focus {
  width: 30vw;
}

#btn {
  cursor: pointer;
  height: 1.9rem;
  width: 3.7rem;
  color: white;
  font: 400 1rem "Propmt", Arial, sans-serif;
  text-align: center;
  background-color: lightseagreen;
  border: none;
  border-radius: 0.7rem;
  opacity: 0.8;
  outline: none;
  transition: all 0.3s linear;
}

#btn:hover {
  opacity: 1;
}

.alert-box {
  width: 15rem;
  height: 12rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(228, 228, 228, 0.9);
  border-radius: 3rem;
}

.alert-box h2 {
  color: black;
}

.alert-box p {
  color: black;
  margin: 2.5rem 0 1rem 0;
}

.alert-box button {
  cursor: pointer;
  background: black;
  border: none;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  outline: none;
}